:root {
  --lg-background: #F7F9FC;
  --cards-background: #fff;
  --border-color: #d1d2d6;
  --search-icons-placeholder-color: #A5A5A5;
  --highlight-color: #fff;
  --link-color: #222222;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lg-background);
  overflow-y: scroll;
}

/*------------------ search -----------------*/

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

#search {
  position: relative;
  width: 55vw;
  margin-top: 50px;
}

#search-container {
  width: 100%;
  position: relative;
}
.ais-SearchBox-input {
  width: 100%;
  height: 40px;
  padding-left: 35px;
  font-size: medium;
  border: none;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--cards-background);
}
.ais-SearchBox-input:focus {
  outline: none;
}
.ais-SearchBox-input::placeholder {
  font-family: YS Text, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--search-icons-placeholder-color);
}
.ais-SearchBox-submitIcon path {
  margin: 0;
  width: 100%;
  fill: var(--search-icons-placeholder-color);
}
.ais-SearchBox-submitIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  left: 12px;
  fill: var(--cards-background);
  cursor: pointer;
}
.search-empty {
  margin: 0;
  font-size: 15px;
}

/*------------------ search close button -----------------*/

#close-search {
  background-color: var(--cards-background);
  color: var(--search-icons-placeholder-color);
  border: 0;
  padding-left: 10px;
  position: absolute;
  top: 6px;
  right: 6px;
  height: 28px;
  font-family: YS Text, Arial, Helvetica, sans-serif;
  cursor: pointer;
}

/*------------------ hits -----------------*/

#hits-container {
  background-color: var(--lg-background);
  flex-direction: column;
  overflow-y: auto;
  z-index: 90;
}
#hits-container::-webkit-scrollbar {
  width: 0;
}
#search-note {
  background-color: var(--lg-background);
  height: 100%;
  padding-bottom: 1px;
}
#search-note-card {
  margin: 10px 10px 9px;
  padding: 18px;
  padding-top: 12px;
  background-color: var(--cards-background);
  border-radius: 4px;
  border: 1px solid var(--border-color);
}
#search-note-spacer {
  width: 100%;
  height: 1px;
}
.search-note-title {
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.search-note-text {
  position: relative;
  padding: 0;
  margin: 0;
}
a.search-note-link:link,
a.search-note-link:visited,
a.search-note-link:hover,
a.search-note-link:active {
  color: var(--link-color);
  text-decoration: underline;
}
#search-hits {
  /* height: 351px; */
  background-color: var(--lg-background);
  z-index: 200;
}
.ais-Hits-list {
  list-style: none;
  background-color: var(--lg-background);
  margin: 0;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 1px;
  z-index: 200;
  width: 100%;
}
.ais-Hits-item {
  display: block;
  margin: 0 10px 9px;
  padding: 15px;
  background-color: var(--cards-background);
  border-radius: 4px;
  border: 1px solid var(--border-color);
}
.search-hit-text {
  margin: 0;
  padding: 0;
  white-space: normal;
}
.search-hit-description,
.search-hit-code {
  padding: 3px;
  font-size: 13px;
  white-space: pre-wrap;
}
.ais-Highlight-highlighted {
  background-color: var(--highlight-color);
}
/* seems like they changed highlighting style */
.ais-Hits-item em {
  /* background-color: hsl(0, 0%, 100%); */
  text-decoration: none;
  font-style: inherit;
  font-weight: 900;
  color: inherit;
}
.ais-Hits--empty {
  margin: 10px;
  padding: 10px 17px;
  background-color: var(--cards-background);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  justify-content: center;
  font-size: 14px;
}


/* temp class for hljs-comment */
/* .search-hit-description {
  font-style: italic;
  color: #5c6370;
} */
/* .hljs-string {
  color: #32a846;
}
.print {
  color: #ca8d3d;
}
.hljs-number {
  color: #56b6c2;
}
.hljs-build_in {
  color: #c678dd;
} */
